.icons {
	content: ' ';
	background-size: 256px 132px;
	background-repeat: no-repeat;
	display: block;
	background: url(./images/sprite.png?v=9);
	background: linear-gradient(transparent, transparent), url(./images/sprite.svg?v=9);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// transition: all .3s;

	&__linkedin {
		background-position: 0 #{-32px * 3};
		width: 32px;
		height: 32px;
	}

	&__twitter {
		background-position: -32px #{-32px * 3};
		width: 32px;
		height: 32px;
	}

	&__googleplus {
		background-position: #{-32px * 2}  #{-32px * 3};
		width: 32px;
		height: 32px;
	}

	&__facebook {
		background-position: #{-32px * 3}  #{-32px * 3};
		width: 32px;
		height: 32px;
	}

	&__github {
		background-position: #{-32px * 5} #{-32px * 3};
		width: 32px;
		height: 32px;
	}

  &__strava {
    background-position: #{-32px * 6} #{-32px * 3};
    width: 32px;
    height: 32px;
  }
}

a:hover, a:focus {
	.icons {
		&__linkedin {
			background-position: 0 -32px;

			&.icons__colored {
				background-position: 0 #{-32px * 2};
			}
		}

		&__twitter {
			background-position: -32px -32px;

			&.icons__colored {
				background-position: -32px #{-32px * 2};
			}
		}

		&__googleplus {
			background-position: #{-32px * 2} -32px;

			&.icons__colored {
				background-position: #{-32px * 2} #{-32px * 2};
			}
		}

		&__facebook {
			background-position: #{-32px * 3} -32px;

			&.icons__colored {
				background-position: #{-32px * 3} #{-32px * 2};
			}
		}

		&__github {
			background-position: #{-32px * 5} -32px;

			&.icons__colored {
				background-position: #{-32px * 5} #{-32px * 2};
			}
		}

    &__strava {
      background-position: #{-32px * 6} -32px;

      &.icons__colored {
        background-position: #{-32px * 6} #{-32px * 2};
      }
    }
	}
}
