@mixin layout-max-width($max-width: null) {
	$max: 1230px !default;
	box-sizing: border-box;
	margin: 0 auto;

	@if $max-width {
		$max: $max-width;
	}

	max-width: $max;
}

@mixin layout-breakpoint-min($min-width) {
	@media screen and (min-width: $min-width) {
		@content
	}
}

@mixin layout-breakpoint-max($min-width) {
	@media screen and (max-width: $min-width) {
		@content
	}
}

@mixin tablet-and-less() {
	@include layout-breakpoint-max($width-tablet) {
		@content
	}
}

@mixin tablet-and-greater() {
	@include layout-breakpoint-min(#{$width-tablet + 1}) {
		@content
	}
}

@mixin horizontal-link() {
	letter-spacing: 1px;
	transition: color .3s;
	position: relative;

	&:after {
		transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
		position: absolute;
		content: "";
		width: 0;
		left: 50%;
	}

	&:hover,
	&:focus,
	&.active {
		color: #5e5e5e;

		&:after {
			background-color: #5e5e5e;
			width: 60%;
			height: 1px;
			bottom: 25%;
			left: 20%;
		}
	}
}
