@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

html, body, #root {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body {
	animation: fadein 1s;
	background-color: $background-color;
	color: $text-color;
	font-size: 17px;
	font-weight: 300;
	font-family: $font-family;
	min-width: 320px;
	margin: 0;
	line-height: 28px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection { background: $highlight-color; }
::selection { background: $highlight-color; }

h1 {
	color: $text-color-grey;
	font-size: 32px;
	line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 15px 0 25px 0;
}

strong {
	color: $text-color;
	font-weight: 400;
}

a, a:visited {
	color: $primary-color;
	transition: color .3s;
}

a:hover, a:focus, a:active {
	color: $primary-color-active;
	text-decoration: none;
}

.vertical-center {
	align-items: center;
	display: flex;
}

p {
	margin-bottom: 20px;
}

hr {
	border: 0;
	background-color: $element-background-color;
	height: 1px;
	margin-bottom: 25px;
}
