$font-family: 'Montserrat', sans-serif;

// colors
$primary-color: #015bff;
$primary-color-active: #3e7ff6;
$text-color: #000000;
$text-color-grey: #a0a0a0;
$text-color-dark-grey: #666666; // footer
$highlight-color: #b5cfff;
$background-color: #ffffff;
$element-background-color: #dedede;

// sizes
$width-tablet: 986px;
$sides-desktop: 3rem;
$sides-mobile: 2rem;
