@import "~@material/button/mixins";

.header {
  height: 92px;
  background-color: #ffffff;
  line-height: 92px;
  padding: 0 24px;
  overflow: hidden;

  a, a:visited {
    color: #303030;
  }

  &__logo {
    float: left;

    a {
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      font-size: 14px;
    }
  }

  &__navigation {
    float: right;

    a {
      font-weight: 500;
      display: inline-block;
      padding: 0 25px;
      position: relative;
      font-size: 14px;

      &:not(.mdc-button) {
        &:after {
          transition: all .3s;
          position: absolute;
          content: '';
          width: 0%;
          left: 50%;
        }

        &.active,
        &:hover {
          &:after {
            background-color: #138df1;
            width: 50%;
            height: 2px;
            bottom: 35%;
            left: 25%;
          }
        }
      }

      &.mdc-button {
        background-color: #138df1;
        color: #ffffff;
        box-shadow: none;
        border-radius: 25px;
        text-transform: none;

        &:hover {
          background-color: #107ad1;
        }

        &.mdc-button--raised {
          @include mdc-button-filled-accessible(#107ad1);
        }
      }
    }
  }
}