@import "~@material/typography/mixins";

.about-block {
	background: url(~/dist/images/background-01.jpg) no-repeat center top;
	background-size: cover;
	height: 605px;
	display: flex;
	align-items: center;

	&--container {
		width: 100%;
	}

	&--title {
		@include mdc-typography('display1');
	}

	&--content {
		max-width: 790px;

		p {
			font-size: 16px;
			line-height: 24px;
		}
	}

	h1, p {
		color: #ffffff;
		font-weight: 300;
	}

	&--cta {
		padding: 24px 0px;

		.about-block--cta-button {
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
}