.current-place {

	&__container {
		background-color: rgba(16, 105, 180, 0.9);
		width: 100%;
		position: absolute;
		z-index: 10;
		height: 200px;
		line-height: 150px;

		p, a, a:visited {
			font-size: 14px;
			font-weight: 500;
			color: #FFFFFF;

			span {
				background-color: #FFFFFF;
				color: #138df1;
				text-transform: uppercase;
				padding: 5px 10px;
				margin: 0 5px;
				transition: all .3s;
			}
		}

		a:hover, a:focus {
			span {
				border: 1px solid #FFFFFF;
				background-color: transparent;
				color: #FFFFFF;
			}
		}
	}
}

#root > div > div > div > main > section.content-block.current-place > div:nth-child(2) > div:nth-child(1) > div > div > button,
#root > div > div > div > main > section.content-block.current-place > div:nth-child(2) > div:nth-child(1) > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div:nth-child(1),
#root > div > div > div > main > section.content-block.current-place > div:nth-child(2) > div:nth-child(1) > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div.gm-svpc,
#root > div > div > div > main > section.content-block.current-place > div:nth-child(2) > div:nth-child(1) > div > div > div:nth-child(10) {
	display: none;
}