.no-script {
	display: flex;
	height: 100%;
	position: absolute;
	width: 100%;

	.mdc-layout-grid {
		max-width: 500px;
		vertical-align: middle;
		align-items: center;
		align-content: center;
		display: inline-flex;
	}

	.mdc-card {
		&__title {
			@include mdc-typography('display2');
		}

		&__supporting-text p {
			font-size: 16px;
		}

		&__actions {
			padding: 8px 16px;
		}
	}
}