.footer {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 10px;
  height: 142px;
  line-height: 142px;

  @include layout-breakpoint-min(1025px) {
    padding: 0 0 0;
    position: absolute;
  }
  @include layout-breakpoint-min(767px) {
    padding: 0 0 16px;
    position: fixed;
  }

  &__container {
    left: 0;
    padding: 0 20px;
    position: relative;
    transition: padding 800ms cubic-bezier(.645,.045,.355,1);

    @include layout-max-width();
    @include layout-breakpoint-min(1025px) {
      padding: 0 60px;
    }
    @include layout-breakpoint-min(767px) {
      padding: 0 30px;
    }
  }
}