$background: #000;

.padded-multiline {
  color: #FFFFFF;

  > span {
    position: relative;
    background: $background;
    transition: all .5s;
  }

  &.hide {
    > span {
      opacity: 0;
    }
  }

  &.show {
    > span {
      opacity: 1;
    }
  }
}