.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $sides-mobile;
  width: 100%;
  box-sizing: border-box;

  @include tablet-and-greater {
    padding: 0 $sides-desktop;
  }
}

.section {
  padding: $section-v-padding 0;

  &--subtle {
    background-color: $color-bg-subtle;
  }
}
