.header {
  width: 100%;
  z-index: 30;
  background: #fff;
  position: absolute;
  height: 112px;
  line-height: 112px;

  @include layout-breakpoint-min(1025px) {
    padding: 0 0 0;
    position: absolute;
  }
  @include layout-breakpoint-min(767px) {
    padding: 0 0 16px;
    position: fixed;
  }

  &__container {
    left: 0;
    padding: 0 20px;
    position: relative;
    transition: padding 800ms cubic-bezier(.645,.045,.355,1);

    @include layout-max-width();
    @include layout-breakpoint-min(1025px) {
      padding: 0 60px;
    }
    @include layout-breakpoint-min(767px) {
      padding: 0 30px;
    }
  }

  $brandname-width: 132px;

  &__brandname {
    display: inline-block;
    width: $brandname-width;
    z-index: 11;
    position: relative;

    &--link {
      font-size: 22px;
      letter-spacing: 0;
      font-weight: 400;
      color: #5e5e5e;
      text-decoration: none;
      transition: color .3s;

      &:hover,
      &:focus {
        color: #5e5e5e;
      }
    }
  }

  &__navigation {
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    text-align: right;
    width: calc(100% - #{$brandname-width});
    
    &--link {
      padding: 0 25px;
      display: none;
      font-weight: 300;

      @include horizontal-link();

      &:hover,
      &:focus,
      &.active {
        &:after {
          bottom: 30%;
        }
      }

      @include layout-breakpoint-min(767px) {
        display: inline-block;
      }
    }

    &--toggle-menu {
      display: inline-block;
      font-size: 18px;
      font-weight: 900;
      transform: translateY(-6px);
      transition: color .3s;

      @include layout-breakpoint-min(767px) {
        display: none;
      }

      &:hover,
      &:focus {
        color: #5e5e5e;
      }
    }

    &--overlay {
      background-color: #fbfbfb;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0%;
      width: 100%;
      transition: height .3s;
    }

    @include layout-breakpoint-max(767px) {
      margin: 0;
      width: calc(100% - 40px);
      position: absolute;
      left: 0;
      padding: 0 20px;

      &--link {
        display: block;
        margin: -100% 0 0 auto;
        width: 100%;
        padding: 0;
        transition: margin-top .5s;


        &:hover,
        &:focus,
        &.active {
          &:after {
            width: 20%;
            left: 80%;
          }
        }
      }

      &--opened {
        > .header__navigation--link {
          margin: 0% 0 0 auto;
        }

        > .header__navigation--toggle-menu {
          color: #5e5e5e;
        }

        > .header__navigation--overlay {
          height: 100%;
        }
      }
    }
  }
}