@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import "components/reset";

html, body {
	height: 100%;
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

$mdc-theme-primary: #107ad1;

@import "~@material/layout-grid/mdc-layout-grid";
@import "~@material/typography/mdc-typography";
@import "~@material/button/mdc-button";
@import "~@material/theme/mdc-theme";
@import "~@material/card/mdc-card";

@import "components/header";
@import "components/typography";
@import "components/button";

@import "blocks/about";
@import "blocks/latest-posts";
@import "blocks/no-script";